div{
    height: 50px;
    width: 50px;
    background-color:darkcyan;
     /* display: flex;
    justify-content: center;
    align-items: center;  */
    
}
 /* @media(min-width:600px){
    div{
    background-color: red;;
}
} 

@media(max-width:600px){
    div{
    background-color: rgb(255, 0, 191);
}
} */

@media (min-width:200px) and (max-width:400px){
    div{
    background-color:coral;
}
}